@model List<ScampusCloud.Models.AccessGroupLevelModel>
<div class="d-flex flex-column-fluid flex-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th>Door Group</th>
                        <th>Session</th>
                        <th>Delete</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DoorGroup</td>
                            <td>@item.Session</td>
                            <td><i class='flaticon-delete' onclick="RemoveItem('@item.DoorGroup')"></i></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function RemoveItem(doorgroup){
        $.ajax({
            url: '/AccessGroup/RemoveAccessGroupLevel?DoorGroup=' + doorgroup,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ DoorGroup: doorgroup }),
            success: function (response) {
                $('#myPartialContainer').html(response);
            },
            error: function (xhr, status, error) {
                // Handle error response
                console.error("Error:", error);
            }
        });
    }
</script>


